/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  width: 100vw;
  height: 100vh;
}

body {
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
